@using MechanicsBLL;
@using MODEL;
<!DOCTYPE html>
<html>
    <head>
        <title>Agenda: Inserir</title>
    </head>
    <body>

        @{ 
            Agenda agenda = new Agenda();

            AgendaBLL agendBLL = new AgendaBLL();

            string tabela = agendBLL.listarTabelaHTML();

            <hr>
            <table>
                <caption>Agenda antes do insert</caption>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Tel</th>
                        <th>CPF</th>
                        <th>Hota</th>
                        <th>Data</th>
                        <th>Box</th>

                   </tr>
               </thead>
                <tbody>
                    @Html.Raw(tabela)
                </tbody>
           </table>

            string resultado = agendBLL.inserir(agenda);

            if (String.IsNullOrEmpty(resultado))
            {
                <script type="text/javascript">alert("Dado inserido com sucesso!")</script>
            }
            else
            {
                string msgErro = null;
                if (resultado.IndexOf("N") >= 0)
                {
                    msgErro += "Nome inválido!";
                }
                if (resultado.IndexOf("T") >= 0)
                {
                    msgErro += "Telefone inválido!";
                }
                if (resultado.IndexOf("C") >= 0)
                {
                    msgErro += "CPF inválido!";
                }
                if (resultado.IndexOf("H") >= 0)
                {
                    msgErro += "Horario inválido!";
                }
                if (resultado.IndexOf("D") >= 0)
                {
                    msgErro += "Data inválido!";
                }
                if (resultado.IndexOf("B") >= 0)
                {
                    msgErro += "Box inválido!";
                }
                <script type="text/javascript">alert('@Html.Raw(@msgErro)')</script>

            }

            tabela = agendBLL.listarTabelaHTML();

            <hr>
            <table>
                <caption>Agenda depois do insert</caption>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Tel</th>
                        <th>CPF</th>
                        <th>Hota</th>
                        <th>Data</th>
                        <th>Box</th>

                    </tr>
                </thead>
                <tbody>
                    @Html.Raw(tabela)
                </tbody>
            </table>

        }

    </body>
</html>
