################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Mechanics.tcc/bin
/Mechanics.tcc/obj
/MechanicsBLL/bin
/MechanicsBLL/obj
/MechanicsDAL/bin
/MechanicsDAL/obj
/MODEL/bin
/MODEL/obj
