@charset "UTF-8";
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");

	
}



body {
	  
       background-color: #dddddd;
	   color: rgba(0,0,0,1);
}

div#interface {
	width: 900px;
	background-color:#ffffff;
	margin: -20px auto 0px auto;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	padding: 10px 10px 10px 10px;
	

}


p {
    text-align: justify;
    text-align: 50px;

}

a {
	color: #606060;
	text-decoration: none;
	
}

header#cabecalho img#icone  {
	position: absolute;
	left: 950px;
	top: 90px;
	
	
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/gods_of_machanis_2.jpg") no-repeat 0px 50px;
	background-color: black;
	
	
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: white;
	text-shadow: 0px 0px 0px rgba(0,0,0,.6);
	padding: 1px;
	margin-bottom: ;
	
}

header#cabecalho h2 {
	font-family: Arial, sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}
	
 	/* Formatação de imagens com legenda*/
	
figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
	
}
	
/* Formatação de menu*/

nav#menu {
	display: block;

}
	
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 10px;
	left: 515px;
	
}

nav#menu li {
	display: inline-block;
	background-color: black;
	padding: 5px;
	margin: 0px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display:none;
}

nav#menu a {
	color: white;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
	text-decoration:underline;
}

section#corpo {
	display: block;
	width: 520px;
	float: left;
	border-right: 1px solid black;
	padding-right: 15px;
	background-color: #ffffff;
}

article#noticia-principal h2 {
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
	
}

header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
	
	
}

article#noticia-secundaria h1 {
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

article#noticia-tercearia h1 {
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #ffffff;
}

aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #000000;
}

aside#lateral h2{
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px
}


aside#lateral h3 {
	font-size: 12px;
	color: #606060;
	

}
	

footer#rodape {
	clear: both;
	border-top: 1px solid black;
}

footer#rodape p {
	text-align: center;
}
	
   	

